@import 'fonts';
@import 'variables';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $maxYellow;
  color: $russianViolet;
}

header {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fluorBlue;
}

h1 {
  font-size: 40px;
  padding: 10px;
  margin: 0;
}

.js-logo {
  width: 80px;
  padding: 10px;
}

input[type=text] {
  margin: 10px 0 10px 10px;
  padding: 0 5px;
  width: 60%;
  height: 40px;
  border: none;
  border-radius: $borderRadius 0 0 $borderRadius;
  font: inherit;
  text-align: center;
  background-color: $DazzleRose;
}

input[type=text]:focus {
  outline: none;
}

input[type=submit] {
  padding: 0 5px;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 0 $borderRadius $borderRadius 0;
  box-sizing: border-box;
  font: inherit;
  cursor: pointer;
  background-color: $fluorBlue;
  color: $russianViolet;
}

input[type=submit]:hover {
  background-color: $DazzleRose;
  border-left: 2px solid $fluorBlue;
}

.messagebox {
  margin: 5px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.message {
  margin: 5px 10px;
  overflow: hidden;
}

.btntrash {
  padding: 5px 10px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  background-color: $fluorBlue;
  color: $russianViolet;
}

.btntrash:hover {
  background-color: $DazzleRose;
}

.sendmessage {
  width: 30%;
  display: flex;
  align-items: center;
}
